# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# React build files
build/

# Flask Python environment
*.pyc
__pycache__/
env/
venv/

# IDEs and Editors
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# dotenv environment variables
.env
.env.local
.env.*.local

# Docker
.docker/

# Logs
logs/
*.log
